<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SMSManagerModule</display-name>
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<servlet>
		<!-- Standard Action Servlet Configuration (with debugging) -->
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<!-- Standard Action Servlet Mapping -->
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-bean.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-html.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-logic.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-tiles</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-tiles.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/struts-nested</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-nested.tld
			</taglib-location>
		</taglib>
		<!-- Display Tag Definition -->
		<taglib>
	        <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
	        <taglib-location>/WEB-INF/tld/displaytag-el.tld</taglib-location>
	    </taglib>
	</jsp-config>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>
			com.shenming.sms.util.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>BIG5</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
	  <filter-name>Security Control</filter-name>
	  <filter-class>com.shenming.sms.util.SecurityFilter</filter-class>
	   <init-param>
	    <param-name>role</param-name>
	    <param-value>ADM</param-value>
	  </init-param>
	</filter>
	
	<!-- Display Tag Export Filter Start -->
	<filter>
	  <filter-name>ResponseOverrideFilter</filter-name>
	  <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	<filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
	  <url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>ResponseOverrideFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- Display Tag Export Filter End -->
	
  
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<servlet-name>action</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	  <filter-name>Security Control</filter-name>
	  <url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
	  <filter-name>Security Control</filter-name>
	  <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/sms</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
